.DS_Store

# Ignore master key for decrypting credentials and more.
 /config/master.key

/tmp/cache/

# Node modules
/node_modules

# Rails build assets
/app/assets/builds

# Logs and temp
/log/*
tmp/*

/app/assets/builds/*
!/app/assets/builds/.keep
