# macOS
.DS_Store

# Ignore master key for decrypting credentials
/config/master.key

# Environment variables
.env
.env.*

# Cache and logs
/tmp/cache/
/tmp/*
/log/*
!/log/.keep

# Node modules
/node_modules

# Build assets
/app/assets/builds
/app/assets/builds/*
!/app/assets/builds/.keep

# Editor and OS
.vscode/
*.swp
