services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    ports:
      - "3000:3000"
    volumes:
      - .:/myapp
      - /myapp/node_modules
    env_file:
      - .env
    environment:
      RAILS_ENV: development
      DATABASE_URL: ${DATABASE_URL}

    command: bash -c "bundle exec foreman start -f Procfile.dev"
    stdin_open: true
    tty: true
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
