services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    ports:
      - "3000:3000"
    volumes:
      - .:/myapp
      - /myapp/node_modules
    env_file:
      - .env
    environment:
      RAILS_ENV: development
      DATABASE_URL: postgresql://postgres:password@db:5432/myapp_development
      SMTP_USERNAME: "masaapp.information@gmail.com"
      SMTP_PASSWORD: "ciaa evyx fxjy ekxa"

    command: bash -c "bundle exec foreman start -f Procfile.dev"
    stdin_open: true
    tty: true
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: myapp_development
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
