@import "custom.css";
@import "auth.css";
@import "mypage_actions.css";
@import "calendar.css";
@import "posts.css";
@import "post_form.css";
@import "loading.css";
@import "post_detail.css";
@import "comments.css";
@import "help_modal.css";
@import "account_delete_modal.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
